# Python
dist
*.egg-info
*.so
__pycache__


# Gitignore

# VScode
.vscode/
.vscode/*
**/.vscode/*
!.vscode/extensions.json

# General
_build/
.sass-cache
_posts
_site

catkin_simple/
eigen_catkin/
mav_comm/
rotors_simulator/
rpg_quadrotor_common/
rpg_quadrotor_control/
rpg_single_board_io/
